{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" }, "modules": "commonjs" }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~": "./src"
      }
    }]
  ]
}
